# Решение заданий модуля 1 (Кто хочет  стать миллионером?)

In [1]:
import pandas as pd
import os
from collections import Counter

####  тестируем доступ к данным

In [2]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

#### Вопрос 1
##### У какого фильма из списка самый большой бюджет?

In [3]:
print(data[data.budget == data.budget.max()].original_title)

491    The Warrior's Way
Name: original_title, dtype: object

#### Вопрос 2
##### Какой из фильмов самый длительный (в минутах)?

In [4]:
print(data[data.runtime == data.runtime.max()].original_title)

1158    Gods and Generals
Name: original_title, dtype: object

#### Вопрос 3
##### Какой из фильмов самый короткий (в минутах)?

In [5]:
print(data[data.runtime == data.runtime.min()].original_title)

769    Winnie the Pooh
Name: original_title, dtype: object

#### Вопрос 4
##### Какое число ближе к средней длительности фильма в датасете?

In [6]:
print(int(data.runtime.mean()))

109

#### Вопрос  5
##### Какое число ближе к медианной длительности фильма в датасете?

In [7]:
print(int(data.runtime.median()))

106

#### Вопрос 6
##### Какой самый прибыльный фильм?

In [8]:
# добавляем в датасет новую колонку с прибыльностью фильма
data['value']=data['revenue']-data['budget']

# выбираем самый  прибыльный фильм
print(data.sort_values(['value'],ascending=False).iloc[0].imdb_id)

tt0499549

#### Вопрос 7
##### Какой фильм самый убыточный?

In [9]:
# выбираем самый  убыточный фильм (просто меняем направление сортировки)
print(data.sort_values(['value'],ascending=True).iloc[0].imdb_id)

tt1032751

#### Вопрос 8
##### У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [10]:
print(len(data[data.value >0]))

1478

#### Вопрос 9
#####  Какой фильм оказался самым кассовым в 2008 году?

In [11]:
print(data[(data.release_year == 2008)].sort_values(['value'],ascending=False).iloc[0].imdb_id)

tt0468569

#### Вопрос 10
#####  Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

In [12]:
print(data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(['value'],ascending=True).iloc[0].imdb_id)

tt1210819

#### Вопрос 11
#####  Какого жанра фильмов больше всего?

In [13]:
# определяем функцию для подсчета количества значений содержащих каждый элемент из строк вида: aaa|bbb|ccc
# d: датасет, c_list: Counter() для подсчета значений, f_str: строка обозначающая  столбец датасета для разбивки
def all_count(d,c_list,f_str):
    for i in d[f_str].split('|'):      
        c_list[i]+=1
        
g_count = Counter()
data.T.apply(all_count, args=(g_count,'genres'))      
print(sorted(g_count.items(), key=lambda x: x[1], reverse=True)[0])

('Drama', 782)

#### Вопрос 12
#####  Какого жанра среди прибыльных фильмов больше всего?

In [14]:
g_count = Counter()
data[(data.value>0)].T.apply(all_count, args=(g_count,'genres'))      
print(sorted(g_count.items(), key=lambda x: x[1], reverse=True)[0])

('Drama', 560)

#### Вопрос 13
#####  Кто из режиссеров снял больше всего фильмов?

In [16]:
d_count = Counter()
data.T.apply(all_count, args=(d_count,'director'))      
print(sorted(d_count.items(), key=lambda x: x[1], reverse=True)[0])

('Steven Soderbergh', 13)

#### Вопрос 14
#####  Кто из режиссеров снял больше всего прибыльных фильмов?

In [17]:
d_count = Counter()
data[(data.value>0)].T.apply(all_count, args=(d_count,'director'))      
print(sorted(d_count.items(), key=lambda x: x[1], reverse=True)[0])

('Ridley Scott', 12)

#### Вопрос 15
#####  Кто из режиссеров принес больше всего прибыли?

In [22]:
# определяем функцию для подсчета прибыли(value) значений содержащих каждый элемент из строк вида: aaa|bbb|ccc
# d: датасет, c_list: Counter() для подсчета значений, f_str: строка обозначающая  столбец датасета для разбивки
def all_value(d,c_list,f_str):
    for i in d[f_str].split('|'):      
        c_list[i]+=d['value']

d_value = Counter()
data.T.apply(all_value, args=(d_value,'director'))  
print(sorted(d_value.items(), key=lambda x: x[1], reverse=True)[0])

('Peter Jackson', 5202593685)

#### Вопрос 16
#####  Какой актер принес больше всего прибыли?

In [30]:
a_value = Counter()
data.T.apply(all_value, args=(a_value,'cast'))  
print(sorted(a_value.items(), key=lambda x: x[1], reverse=True)[0])

('Emma Watson', 6666245597)

#### Вопрос 17
#####  Какой актер принес меньше всего прибыли в 2012 году?

In [31]:
a_value = Counter()
data[(data.release_year == 2012)].T.apply(all_value, args=(a_value,'cast'))  
display(sorted(a_value.items(), key=lambda x: x[1], reverse=False)[0])

('Kirsten Dunst', -68109207)

#### Вопрос 18
#####  Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [32]:
data_hi_budget=data[data.budget>data.budget.mean()]
a_count = Counter()
data_hi_budget.T.apply(all_count, args=(a_count,'cast'))      
print(sorted(a_count.items(), key=lambda x: x[1], reverse=True)[0])

('Matt Damon', 18)

#### Вопрос 19
#####  В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
cage_movies=data[data.cast.str.contains('Nicolas Cage')]
g_count = Counter()
cage_movies.T.apply(all_count, args=(g_count,'genres'))      
print(sorted(g_count.items(), key=lambda x: x[1], reverse=True)[0])

('Action', 17)

#### Вопрос 20
#####  Какая студия сняла больше всего фильмов?

In [38]:
p_count = Counter()
data.T.apply(all_count, args=(p_count,'production_companies'))      
print(sorted(p_count.items(), key=lambda x: x[1], reverse=True)[0])

('Universal Pictures', 173)

#### Вопрос 21
##### Какая студия сняла больше всего фильмов в 2015 году?

In [41]:
p_count = Counter()
data[(data.release_year == 2015)].T.apply(all_count, args=(p_count,'production_companies'))      
print(sorted(p_count.items(), key=lambda x: x[1], reverse=True)[0])

('Warner Bros.', 12)

#### Вопрос 22
##### Какая студия заработала больше всего денег в жанре комедий за все время?

In [43]:
p_value = Counter()
data[data.genres.str.contains('Comedy')].T.apply(all_value, args=(p_value,'production_companies'))  
print(sorted(p_value.items(), key=lambda x: x[1], reverse=True)[0])

('Universal Pictures', 8961545581)

#### Вопрос 23
##### Какая студия заработала больше всего денег в 2012 году?

In [44]:
p_value = Counter()
data[(data.release_year == 2012)].T.apply(all_value, args=(p_value,'production_companies'))  
print(sorted(p_value.items(), key=lambda x: x[1], reverse=True)[0])

('Columbia Pictures', 2501406608)

#### Вопрос 24
##### Самый убыточный фильм от Paramount Pictures?

In [49]:
print(data[data.production_companies.str.contains('Paramount Pictures')].sort_values(['value'],ascending=True).iloc[0].imdb_id)

tt0267626

#### Вопрос 25
##### Какой самый прибыльный год (в какой год студии заработали больше всего)?

In [62]:
print(data.groupby(['release_year'])[['value']].sum().sort_values(['value'],ascending=False).iloc[0].name)

2015

#### Вопрос 26
##### Какой самый прибыльный год для студии Warner Bros?

In [63]:
print(data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])[['value']].sum().sort_values(['value'],ascending=False).iloc[0].name)

2014

#### Вопрос 27
##### В каком месяце за все годы суммарно вышло больше всего фильмов?

In [117]:
import datetime
#копируем датафрейм, чтобы не портить основной
data1=data
data1.index =pd.to_datetime(data1['release_date'],format='%m/%d/%Y')
months_df=data1.groupby(by=[data1.index.month]).size().reset_index(name='counts')
monthinteger=months_df.sort_values(['counts'],ascending=False).iloc[0].release_date
month = datetime.date(1900, monthinteger, 1).strftime('%B')

print(month)

September

#### Вопрос 28
##### Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [130]:
#добавляем колонку с временами  года (1-зима, 2-весна, 3-лето, 4-осень)
months_df['season']=months_df.apply(lambda x: (x['release_date']%12 + 3)//3 ,axis=1)
#поскольку  у iloc индексация  с  0 то лето это 2
print(months_df.groupby(['season']).sum().iloc[2].counts)

450

#### Вопрос 29
##### Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

In [191]:
winter_films= data1[(data1.index.month == 12) | (data1.index.month == 1) | (data1.index.month == 2)] 
d_count = Counter()
winter_films.T.apply(all_count, args=(d_count,'director'))      
print(sorted(d_count.items(), key=lambda x: x[1], reverse=True)[0][0])

Peter Jackson

#### Вопрос 30
##### Какой месяц чаще всего самый прибыльный в году?

 Почему нужно считать по годам, а не просто взять самый прибыльный месяц за весь период? Киноиндустрия активно развивается, прибыль компаний растет с каждым годом (например, в 2014 г. индустрия заработала в 2 раза больше, чем в 2004). Поэтому прибыльность более поздних месяцев будет значительно перевешивать предыдущие, что может привести к искажению выводов.

In [190]:
#создаем колонку  для построения  сводной таблицы
data1['month']=data1.index.month
#строим сводную таблицу, суммируя прибыль по месяцам, получаем id - то  есть номер месяца  в  виде (value,номер)
pivot = data.pivot_table(values=['value'],
 index=['release_year'],
 columns=['month'],
 aggfunc='sum').idxmax(axis=1)

# ресетим  индекс, именуем колонку с месяцами  именем month , группируем  по этой колонку, считаем группировки, берем максимум
month=pivot.reset_index(name='month').groupby('month').size().reset_index(name='counts').sort_values(['counts'],ascending=False).iloc[0].month
# получаем название  масяца
print(datetime.date(1900, month[1], 1).strftime('%B'))

June

#### Вопрос 31
##### Названия фильмов какой студии в среднем самые длинные по количеству символов?

In [241]:
studio_films={}
def s_films(a):
    s_list=a['production_companies'].split('|')
    for studio in s_list:
        n_len=len(a['original_title'])
        if studio in studio_films.keys():
            studio_films[studio].append(n_len)
        else:    
            studio_films.update({studio : [n_len]})
        


data.T.apply(s_films)
studio_films_df = pd.DataFrame.from_dict(studio_films,  orient='index', dtype ='int')
print(studio_films_df.T.mean().sort_values(ascending = False).reset_index(name='counts').loc[0]['index'])

Four By Two Productions

#### Вопрос 32
##### Названия фильмов какой студии в среднем самые длинные по количеству слов?

In [242]:
studio_films={}
def s_films(a):
    s_list=a['production_companies'].split('|')
    for studio in s_list:
        n_len=len(str.split(a['original_title']))
        if studio in studio_films.keys():
            studio_films[studio].append(n_len)
        else:    
            studio_films.update({studio : [n_len]})
        


data.T.apply(s_films)
studio_films_df = pd.DataFrame.from_dict(studio_films,  orient='index', dtype ='int')
print(studio_films_df.T.mean().sort_values(ascending = False).reset_index(name='counts').loc[0]['index'])

Four By Two Productions

#### Вопрос 33
##### Сколько разных слов используется в названиях фильмов (без учета регистра)?

In [244]:
words_count=Counter()

def w_count(a):
    w_list=str.split(str.lower(a['original_title']))
    for w in w_list:
        words_count[w]+=1

        
data.T.apply(w_count)
display(len(words_count))

2461

#### Вопрос 34
##### Какие фильмы входят в 1 % лучших по рейтингу?

In [245]:
display(data.groupby(['original_title'])['vote_average'].max().sort_values(ascending = False).head(int(len(data)/100)))

original_title
The Dark Knight                                  8.1
Inside Out                                       8.0
Interstellar                                     8.0
The Imitation Game                               8.0
Room                                             8.0
Gone Girl                                        7.9
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
Memento                                          7.9
The Pianist                                      7.9
The Wolf of Wall Street                          7.9
Guardians of the Galaxy                          7.9
12 Years a Slave                                 7.9
Inception                                        7.9
The Theory of Everything                         7.8
Eternal Sunshine of the Spotless Mind            7.8
There Will Be Blood                              7.8
Prisoners                                        7.8
Name: vote_average, dtype: float64

#### Вопрос 35
##### Какие актеры чаще всего снимаются в одном фильме вместе?

In [246]:
from itertools import combinations

f_a_combs=Counter()
def a_combs(a):
    a_list=a['cast'].split('|')
    a_pairs = list(combinations(a_list, 2))
    for a_p in a_pairs:
        glue=' and '
        a_p_key = glue.join(a_p)
        f_a_combs[a_p_key]+=1

data.T.apply(a_combs)
f_a_combs_df = pd.DataFrame.from_dict(f_a_combs,  orient='index', dtype ='int', columns=['films'])
display(f_a_combs_df.films.sort_values(ascending = False))

Daniel Radcliffe and Emma Watson             8
Daniel Radcliffe and Rupert Grint            8
Rupert Grint and Emma Watson                 7
Johnny Depp and Helena Bonham Carter         6
Ben Stiller and Owen Wilson                  6
                                            ..
Sean Penn and Emma Stone                     1
Sean Penn and Ryan Gosling                   1
Helena Bonham Carter and James Badge Dale    1
William Fichtner and James Badge Dale        1
Chris Pratt and Bryce Dallas Howard          1
Name: films, Length: 18131, dtype: int64

#### Вопрос 36
##### У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

In [248]:
dir_f_count = Counter()
def dir_count(a):
    d_list=a['director'].split('|')
    for director in d_list:
        dir_f_count[director]+=1

data_rb=data[(data.revenue > data.budget )]
data_rb.T.apply(dir_count)

dir_f_count_df = pd.DataFrame.from_dict(dir_f_count,orient='index', dtype ='int',columns= ['films'])
dir_f_count = Counter()
data.T.apply(dir_count)
dir_f_count_df_all = pd.DataFrame.from_dict(dir_f_count,orient='index', dtype ='int',columns= ['films'])


dir_merged=pd.merge(dir_f_count_df_all, dir_f_count_df, left_index=True, right_index=True)
dir_merged['percent']=(dir_merged['films_y']/dir_merged['films_x'])*100

display(dir_merged.sort_values(["percent", "films_x"], ascending=False).head(15))

                   films_x  films_y  percent
Ridley Scott            12       12    100.0
Steven Spielberg        10       10    100.0
Tim Burton               9        9    100.0
Antoine Fuqua            8        8    100.0
Christopher Nolan        8        8    100.0
Peter Jackson            8        8    100.0
Michael Bay              8        8    100.0
Brett Ratner             8        8    100.0
Francis Lawrence         6        6    100.0
Adam McKay               6        6    100.0
Robert Zemeckis          6        6    100.0
Andy Fickman             6        6    100.0
David Fincher            6        6    100.0
Tim Story                6        6    100.0
Zack Snyder              6        6    100.0